/* �꽕鍮꾨컮 �깋�긽 #00BFFE */

	
@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');

@font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
h3 {
    /* font-family: 'Cafe24SsurroundAir' !important; */
    font-family: 'Hi Melody', sans-serif;
}

.moveTopBtn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 4rem;
  height: 4rem;
  width:50px; 
  height:50px;
 }

#outer_wrap {
	
}
footer {
	margin-top:100px;
}
#wrap {
	display:flex; 
	justify-content:center;
	align-items:center;
	margin-top: 60px;
}
a {
	text-decoration:none; 
	color:black;
}
tr {
	vertical-align:middle;
}
.title_underline {
	height: 40px;
	border-bottom: 2px solid black;
	margin-bottom: 20px;
}

/* �옄�룞 �셿�꽦 由ъ뒪�듃 */
#search-box{
	display: none;
	position: absolute; 
	left: 1590px; 
	top: 75px; 
	border: 0.1px solid black; 
	z-index: ; 
	background-color: white;
}

/* �뿤�뜑 */
.nav-link {
	font-size: 20px; 
	font-weight: bold;
	color:white;
}
.link {
	width: 188px; height: 230px; display: block; position: absolute; z-index: 2;
}

.nav-item {
	margin:0 10px 0 10px;
}
#navbar-nav-2 {
	display:flex;
	align-items:center;
	justify-content:center;
	height:100px;
}

/* 硫붿씤 */
.main_goods {
	display:flex;
	align-items:center;
	flex-wrap: wrap;
	width:1100px;
}
.goods {
	margin:10px 10px 20px 10px;
}
/* .goods>a>img {
	background-color:#F1F3F5;
	border-radius:10px;
}
.goods>a>img:hover {
	background-color:lightgrey;
	border-radius:10px;
} */
.title,
.price {
	text-align:center;
}
.main_goods_div {
	display:flex;
	align-items:center;
	justify-content:center;
}
.main-title {
	font-weight:bold;
	width:1100px;
	border-bottom: 2px solid black;
}
.main-title-div {
	display:flex;
	justify-content:center;
	align-items:center;
	margin: 50px 0 -50px 0;
	height:200px;
}
.main_btn_div {
	display:flex;
	align-items:center;
	justify-content:center;
	margin-top:10px;
	margin-bottom:-100px;
}
#main_btn_menu {
	width:200px;
	height:50px;
	margin: 10px;
	text-align:center;
	display:flex;
	align-items:center;
	justify-content:center;
	/* background-color: #FDBA69; */
}
#main_btn_menu:hover {
	background-color: white;
}
.line-image {
	margin-top:50px;
}

/*  */
.carousel-item {
	height:900px !important;
	
}
/*  */

/* 濡쒓렇�씤 */
.login_div {
	text-align:center;
	margin-top: 60px;
}

/* �쉶�썝媛��엯 */
.signup_div {
	text-align:center;
	margin-top:60px;
}

/* �긽�뭹 �긽�꽭 �젙蹂� */
.goods-title {
	margin-top:50px;
}
.container {
	text-align:center; 
	min-width:100%;
}
.tab_container {
	margin-top:50px;
}
#goods_detail_menu {
	list-style:none;
}
#goods_detail_menu>li {
	float:left; 
	padding: 20px; 
	width:230px; 
	margin: 10px 10px 20px 10px;
	text-align:center;
	background-color:#FDBA69;
	border-radius:10px;
	margin-bottom:50px;
	
}
#goods_detail_menu>li:hover {
	background-color:#FDBA69;
	border-radius:10px;
}
.col-md-5>img {
	width:420px; 
	height:420px; 
}

/* 怨듭��궗�빆 */
.notice-div {
	width:1000px;
	margin-top: 50px;
}
.paging-div {
	width:1000px; 
	text-align:center;
}

/* 愿�由ъ옄 �긽�뭹 議고쉶 */
#admin-search-btn {
	display: flex; 
	justify-content: center; 
	align-items: center;
}
.order-main-title {
	margin-top: 50px;
	
}
.add-goods-form {
	margin-bottom: -100px;
}

/* �옣諛붽뎄�땲 */
.cart-title {
	margin-top: 50px;
}
.cart-list-div {
	min-width: 680px;
}

/* 留덉씠�럹�씠吏� */
.mypage-title {
	margin-top: 50px;
}
.mypage-div {
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 40px;
	border-radius:20px;
	margin-bottom: -50px;	
}
.myinfo-div {
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 40px;
	border-radius:20px;
	margin-bottom: 10px;
}

/* 愿�由ъ옄 �긽�뭹 異붽� */
#tab7 {
	margin-bottom: 50px;
}

/* �썑湲� �쟾泥� */
.review-div {
	width:1000px;
	margin-top: 50px;
}
.paging-div {
	margin-bottom: -50px;
}

/* Q&A �쟾泥� */
.qna-div {
	width: 1000px;
	margin-top: 50px;
}

/* 愿�由ъ옄 二쇰Ц 硫붿씤 */
.admin_ordermain_title {
	margin-top: 50px;
}

/* 愿�由ъ옄 �쉶�썝 議고쉶 */
.admin_member_title {
	margin-top: 50px;
}

/* 二쇰Ц �솕硫� */
#order-div {
	margin-top: 50px;
}

/* 寃��깋 寃곌낵 */
.search-div {
	margin-top: 50px;
}

/* 二쇰Ц 諛곗넚 議고쉶 */
#order-history-title {
	margin-top: 50px;
}

/* �궡 �긽�꽭 �젙蹂� */
#detail-info-title {
	margin-top: 50px;
}
#info-cancel-btn {
	margin-bottom: -150px;
}

/* 二쇰Ц 寃곌낵 */
#order-result-title {
	margin-top: 50px;
}




body {
  font-family: 'Hi Melody', sans-serif;
  font-size: 25px;
  line-height: 24px;
  color: #333;
  background: #white;
  overflow-y: scroll;
}

p {
  margin-bottom: 0.5em;
}

a1,
a1:visited {
  text-decoration: none;
  color: #00AE68;
}

.clear {
  clear: both;
}

.pageTitle {
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1em;
  color: #00AE68;
}

.pageSubTitle {
  margin-bottom: 0.5em;
  font-size: 1.3em;
  font-weight: 700;
  line-height: 1em;
  color: #222;
}

.articleTitle {
  font-size: 1.15em;
  font-weight: 700;
  line-height: 1em;
  color: #222;
}

.wrapper {
  width: 600px;
  margin: 20px auto;
}

.container {
  padding-top: 1em;
  margin-top: 1em;
  border-top: 
    solid
    1px
    #CCC;
}

a.button {
  display: block;
  position: relative;
  float: left;
  width: 120px;
  padding: 0;
  margin: 10px 20px 10px 0;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color: #FFF;
  border-radius: 5px;
  transition: all 0.2s ;
}

.btnBlueGreen {
  background: #00AE68;
}

.btnLightBlue {
  background: #5DC8CD;
}

.btnOrange {
  background: #FFAA40;
}

.btnPurple {
  background: #A74982;
}

/* FADE */
.btnFade.btnBlueGreen:hover {
  background: #21825B;
}

.btnFade.btnLightBlue:hover {
  background: #01939A;
}

.btnFade.btnOrange:hover {
  background: #FF8E00;
}

.btnFade.btnPurple:hover {
  background: #6D184B;
}

/* 3D */
.btnBlueGreen.btnPush {
  box-shadow: 0px 5px 0px 0px #007144;
}

.btnLightBlue.btnPush {
  box-shadow: 0px 5px 0px 0px #1E8185;
}

.btnOrange.btnPush {
  box-shadow: 0px 5px 0px 0px #A66615;
}

.btnPurple.btnPush {
  box-shadow: 0px 5px 0px 0px #6D184B;
}

.btnPush:hover {
  margin-top: 15px;
  margin-bottom: 5px;
}

.btnBlueGreen.btnPush:hover {
  box-shadow: 0px 0px 0px 0px #007144;
}

.btnLightBlue.btnPush:hover {
  box-shadow: 0px 0px 0px 0px #1E8185;
}

.btnOrange.btnPush:hover {
  box-shadow: 0px 0px 0px 0px #A66615;
}

.btnPurple.btnPush:hover {
  box-shadow: 0px 0px 0px 0px #6D184B;
}

/* BORDER */
.btnBlueGreen.btnBorder {
  box-shadow: 0px 0px 0px 0px #21825B;
}

.btnBlueGreen.btnBorder:hover {
  box-shadow: 0px 0px 0px 5px #21825B;
}

.btnLightBlue.btnBorder {
  box-shadow: 0px 0px 0px 0px #01939A;
}

.btnLightBlue.btnBorder:hover {
  box-shadow: 0px 0px 0px 5px #01939A;
}

.btnOrange.btnBorder {
  box-shadow: 0px 0px 0px 0px #A66615;
}

.btnOrange.btnBorder:hover {
  box-shadow: 0px 0px 0px 5px #A66615;
}

.btnPurple.btnBorder {
  box-shadow: 0px 0px 0px 0px #6D184B;
}

.btnPurple.btnBorder:hover {
  box-shadow: 0px 0px 0px 5px #6D184B;
}

/* FLOAT */
.btnFloat {
  background: none;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.btnFloat:before {
  content: 'Float';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 50px;
  border-radius: 5px;
  transition: all 0.2s ;
}

.btnBlueGreen.btnFloat:before {
  background: #00AE68;
}

.btnLightBlue.btnFloat:before {
  background: #5DC8CD;
}

.btnOrange.btnFloat:before {
  background: #FFAA40;
}

.btnPurple.btnFloat:before {
  background: #8D336A;
}


.btnFloat:before {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.4);
}

.btnFloat:hover:before {
  
}

.btnFloat:hover:before {
  margin-top: -2px;
  margin-left: 0px;
  transform: scale(1.1,1.1);
  -ms-transform: scale(1.1,1.1);
  -webkit-transform: scale(1.1,1.1);
  box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.25);
}

/* SLIDE */
.btnSlide.btnBlueGreen {
  background: 0;
}

.btnSlide .top {
  position: absolute;
  top: 0px;
  left: 0;
  width: 120px;
  height: 50px;
  background: #00AE68;
  z-index: 10;
  transition: all 0.2s ;
  border-radius: 5px;
}

.btnSlide.btnBlueGreen .top {
  background: #00AE68;
}

.btnSlide.btnLightBlue .top {
  background: #5DC8CD;
}

.btnSlide.btnOrange .top {
  background: #FFAA40;
}

.btnSlide.btnPurple .top {
  background: #A74982;
}

.btnSlide .bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 50px;
  color: #000;
  z-index: 5;
  border-radius: 5px;
}

.btnSlide:hover .top {
  top: 40px;
}

